name: specialist-backend
services:
  specialist-api:
    container_name: specialist-api
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8443:8443"
    image: specialist-api
    env_file:
      - .docker-env
    depends_on:
      - specialist-postgresql
      - specialist-redis

  specialist-postgresql:
    image: postgres
    container_name: specialist-postgresql
    networks:
      - default
    environment:
      POSTGRES_PASSWORD: root
      POSTGRES_USER: specialist_api
      POSTGRES_DB: specialist_database
    ports:
      - "5433:5432"

  specialist-redis:
    image: redis
    container_name: specialist-redis
    networks:
      - default
    ports:
      - "6380:6379"

volumes:
  kafka_data: {}