version: "3.8"
name: specialist-backend
services:
#  specialist-api:
#    container_name: specialist-api
#    build:
#      context: .
#      dockerfile: Dockerfile
#    ports:
#      - "8443:8443"
#    image: aid-compass-api
#    env_file:
#      - .docker-env

  specialist-postgresql:
    image: postgres
    container_name: specialist-postgresql
    networks:
      - default
    environment:
      POSTGRES_PASSWORD: qvakaydoma
      POSTGRES_USER: specialist_api
      POSTGRES_DB: specialist_database
    ports:
      - "5432:5432"

  specialist-redis:
    image: redis
    container_name: specialist-redis
    networks:
      - default
    ports:
      - "6379:6379"

volumes:
  kafka_data: {}